<div class="controls">
    <div class="control" [routerLink]="['home']" routerLinkActive="active-btn" data-id="home">
        <i class="fas fa-home"></i>
    </div>
    <div class="control" [routerLink]="['about-me']" routerLinkActive="active-btn" data-id="about-me">
        <i class="fas fa-user"></i>
    </div>
    <div class="control" [routerLink]="['projects']" routerLinkActive="active-btn" data-id="projects">
        <i class="fas fa-briefcase"></i>
    </div>
    <div class="control" [routerLink]="['certifications']" routerLinkActive="active-btn" data-id="certifications">
        <i class="fa-solid fa-award"></i>
    </div>
    <div class="control" [routerLink]="['contact-me']" routerLinkActive="active-btn" data-id="contact-me">
        <i class="fas fa-envelope"></i>
    </div>
</div>