.spacer {
    flex: 1 1 auto;
}

.logo {
    display: flex;
    align-items: center;

    img {
        width: 7.5%;
        height: 7.5%;
    }

    .name {
        align-self: center;
        text-transform: capitalize;
        font-size: 2rem;
    }
}

a {
    margin-right: 5px;
    text-transform: capitalize;
    font-size: 1.2rem;
    color: var(--color-primary);
    text-decoration: none;
    transition: color 0.5s ease-in-out, border-bottom 0.5s ease-in-out;
    border-radius: 0px;

    &:hover {
        color: var(--color-primary);

        border-bottom: 3px solid var(--color-primary);
    }

    &.active-btn {
        border-bottom: 3px solid var(--color-primary);
        color: var(--color-primary);
    }
}