<mat-toolbar>
    <div class="logo">
        <img src="../../favicon.ico" alt="briefcase icon" />
        <span class="name">Sklidas Portfolio</span>
    </div>
    <span class="spacer"></span>
    <a mat-button routerLink="home" routerLinkActive="active-btn">home</a>
    <a mat-button routerLink="about-me" routerLinkActive="active-btn">about</a>
    <a mat-button routerLink="projects" routerLinkActive="active-btn">projects</a>
    <a mat-button routerLink="certifications" routerLinkActive="active-btn">certifications</a>
    <a mat-button routerLink="contact-me" routerLinkActive="active-btn">contact</a>
</mat-toolbar>