<section class="container">
    <div class="main-title">
        <h2>My <span>certifications</span><span class="bg-text">My Work</span></h2>
    </div>
    <p class="cert-text">
        Here is some certifications I have obtained.
    </p>
    <div class="certifications">
        @for (cert of certifications; track cert.uid){
        <div class="certification-item">
            <app-card [imgPath]="cert.imagePath" [title]="cert.title">
                <div class="card-dates">
                    <h3>
                        <span class="date">{{ cert.date }}</span>
                    </h3>
                </div>
                <span>
                    {{ cert.issuedCompany }}
                </span>

                <div class="hover-items">
                    <h3>Certification Source</h3>
                    <div class="icons">
                        <a href={{cert.url}} class="icon" target="_blank">
                            <i class="fa-solid fa-globe"></i>
                        </a>
                    </div>
                </div>
            </app-card>
        </div>
        }
    </div>
</section>