<header class="header">
    <div class="header-content">
        <div class="left-header">
            <div class="h-shape"></div>
            <div class="image">
                <img src="assets/images/me.png" alt="Profile image">
            </div>
        </div>
        <div class="right-header">
            <h1 class="name">
                Hi, I'm <span>Panagiotis Sklidas.</span>
                A junior Web Developer.
            </h1>
            <details>
                <summary>
                    I'm a junior Web Developer, I love creating beautiful and functional websites.
                    <i class="fa-solid fa-chevron-down" style="color: #e67e22;"></i>
                    <hr>
                </summary>
                <p>
                    I love building user-friendly apps, programs, and websites that offer seamless experiences.
                    I'm eager to explore the cybersecurity sector and apply my skills to securing digital solutions.
                </p>
            </details>
            <div class="btn-con btn-download-cv">
                <a href="assets/cv/Sklidas_CV.pdf" download="Panagiotis-Sklidas_CV" class="main-btn">
                    <span class="btn-text">Download CV</span>
                    <span class="btn-icon"><i class="fas fa-download"></i></span>
                </a>
            </div>
        </div>
    </div>
</header>